<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    @Html.ActionLink("Students", "Index", "Students", null,new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Departments", "Index", "Departments", null,new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Instructors", "Index", "Instructors", null,new { @class = "nav-link" })
                </li>
                <li class="nav-item">@Html.ActionLink("Courses", "Index", "Courses", null,new { @class = "nav-link" })</li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year All Copyrights Resrved to M_Mustafa INC </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
