@model ITI_Students_Demo.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <div>
        <div>
            <div class="text-center">
                <h2 class="m-4 display-4">Details</h2>
                <div class="d-flex justify-content-center">
                    <img src="~/Imgs/@Model.Img" class="img-fluid img-thumbnail" width="400" height="400"
                         alt="" srcset="">
                </div>
                <p class="h2 m-5"> @Html.DisplayFor(model => model.Name)</p>
            </div>
            <table class="table">
                <thead>
                    <tr class="thead-light">
                        <td>
                            Name
                        </td>
                        <td>
                            Age
                        </td>
                        <td>
                            Email
                        </td>
                        <td>
                            Department Name
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> @Html.DisplayFor(model => model.Name)</td>
                        <td> @Html.DisplayFor(model => model.Age)</td>
                        <td> @Html.DisplayFor(model => model.Address)</td>
                        <td> @Html.DisplayFor(model => model.Department.DeptName)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
