@model ITI_Students_Demo.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>
    </dl>
    <hr />

    <table class="table table-bordered">
        <tr class="thead-dark">
            <th>Courses</th>
        </tr>
        @foreach (var item in ViewBag.courses)
        {
            <tr>
                <td> @item.CourseName</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"}) 
    @Html.ActionLink("Back to List", "Index", "Departments", new { @class = "btn btn-warning"})
</p>
